*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
  }
  .x{
    list-style: none;
    text-decoration: none;
  }
  body{
    background: #fefefe;
    
    /* background: #333; */
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 120vh;
  }
  header{
    width: 100%;
    height: 60px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 10px;
    padding-top: 40px;
  }
  .logo{
    font-size: 25px;
    font-weight: bold;
    color: #fefefe;
    padding-bottom: 15px;
  }
  .logo img{
  width: 70px;
  /* height: 55px; */
  border-radius: 25px;
  }
  .logo a{
  margin-left: 20px;
  text-decoration: none;
  color: rgb(253, 1, 1);
  }
  .hamburger{
    display: none;
  }
  .nav-bar ul {
    display: flex;
  }
  .nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 30px;
    transition: 0.2s;
    margin: 0 5px;
  }
  .nav-bar ul li a:hover{
    color: #11101b;
    background: #fefefe;
  }
  .nav-bar ul li a.active{
    color: #11101b;
    background: #fefefe;
  }
  @media only screen and(max-width: 1100px){
    header{
        padding: 0 30px;
    }
    
  }
  @media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar{
        height: 0px;
        position: absolute;
        
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 550px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
  
    }
  
  }
  
  
  /* main */
  .room {
    background: #fff;
    margin-bottom: 20px;
  }

  .room img{
    max-height: 500px;
    width: 100%;
  }
  @media only screen and (max-width: 900px){
  .room img{
    height: auto;
    width: auto;
  }
  }

  .media-body h3{
    color: #4c49ea;
    font-weight: bold;
  }
  .media-body li{
    font-size:large;
    font-weight: bold;

  }
  .media-body p{
    color: #3a1616;
  }
  .room figure .overlap-text {
    /* z-index: 99; */
    /* position: absolute; */
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .room .media-body {
    padding: 30px;
    border: 1px solid #e6e6e6;
    border-top: none;
  }
  
  .room .media-body .room-specs li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 20px 20px 0;
  }
  
  .room .media-body .room-specs li span {
    font-size: 30px;
    position: relative;
    top: 4px;
    margin-right: 10px;
  }
  
  .room-thumbnail-absolute .room.bg {
    /* position: relative; */
    justify-content: center;
    align-items: center;
    height: 450px;
    width: auto;
    /* width: 100%; */
    background-size: cover;
  }
  @media only screen and (max-width: 900px){
    .room-thumbnail-absolute .room.bg{
      width: 450px;
      height: 310px;
    }
  }
  
  
  
  .site-section {
    padding: 7em 0;
  }
  
  



  /* footer */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
  
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
  } */
  
  .footer {
    margin-top: 35px;
    position: relative;
    width: 100%;
    /* background: #3586ff; */
    background: rgb(44, 44, 44);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  /* .wave {
    position: absolute; */
    /* top: -100px; */
    /* left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  } */
  
  /* .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  } */
  
  /* .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  } */
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  /* <div class="hot-img">
      <img  src="${hotel.card_image}" alt="">
      <img  src="${hotel.image_1}" alt="">
      <img  src="${hotel.image_2}" alt="">
  </div>
  <div class="hot-info">
      <hi>${hotel.hotel_name}</hi>
      <h6>ornamentse</h6>
      <p class="w-50 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus error ratione unde cum provident aspernatur?</p>
      <h4>price : ${hotel.room_price} BDT</h4>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Booking
    </button>
  </div> */


  /* card */
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(30.33333% - 15px);
  flex-basis: calc(30.33333% - 15px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;

}
.ag-courses-item_link {
  display: block;
  padding: 20px 10px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 20px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.title{
  font-size: 44px;
  color: rgb(239, 6, 6);
  text-align: center;

}


/* revew form start */

.responsive-form { 
  max-width: 600px; 
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 0 10px rgba(97, 240, 68, 0.5); 
  width: 100%; 
  text-align: center; 
  border-radius: 8px; 
  border: 2px solid green; 
  background-color: #fff; 
  padding: 25px; 
} 

.responsive-form h1 { 
  color: green
} 

.responsive-form h3 { 
  margin-bottom: 25px; 
  font-size: 16px; 
} 

.form-container { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
} 

.form-container-label { 
  text-align: left; 
  min-width: 48%; 
  margin-bottom: 10px; 
  flex: 1; 
} 

.form-container-input { 
  flex: 1; 
  margin-bottom: 10px; 
  box-sizing: border-box; 
  min-width: 45%; 
  border: 1px solid #ccc; 
  border-radius: 6px; 
  padding: 10px; 
} 

.form-container-button { 
  width: 100%; 
  border-radius: 4px; 
  color: #fff; 
  padding: 12px; 
  cursor: pointer; 
  border: none; 
  flex: 1; 
  background-color: green; 
} 

@media screen and (max-width: 600px) { 

  .form-container-label, 
  .form-container-input, 
  .form-container-button { 
      flex: 100%; 
      min-width: 100%; 
  } 
}
/* end review form */