*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Google Sans Regular";
  box-sizing: border-box;
}
.x{
  list-style: none;
  text-decoration: none;
}
body{
  background: #fefefe;
  
  /* background: #333; */
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 120vh;
}
header{
  width: 100%;
  height: 60px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 10px;
  padding-top: 40px;
}
.logo{
  font-size: 25px;
  font-weight: bold;
  color: #fefefe;
  padding-bottom: 15px;
}
.logo img{
width: 70px;
/* height: 55px; */
border-radius: 25px;
}
.logo a{
margin-left: 20px;
text-decoration: none;
color: rgb(253, 1, 1);
}
.hamburger{
  display: none;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li a{
  display: block;
  color: #fefefe;
  font-size: 18px;
  padding: 15px 15px;
  border-radius: 30px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover{
  color: #11101b;
  background: #fefefe;
}
.nav-bar ul li a.active{
  color: #11101b;
  background: #fefefe;
}
@media only screen and(max-width: 1100px){
  header{
      padding: 0 30px;
  }
  
}
@media only screen and (max-width: 900px){
  .hamburger{
      display: block;
      cursor: pointer;
  }
  .hamburger .line{
      width: 30px;
      height: 3px;
      background: #fefefe;
      margin: 6px 0;
  }

  .nav-bar{
      height: 0px;
      position: absolute;
      
      top: 80px;
      left: 0;
      right: 0;
      width: 100%;
      background: #11101b;
      transition: 0.2s;
      overflow: hidden;
  }
  .nav-bar.active{
      height: 550px;
  }
  .nav-bar ul{
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
  }
  .nav-bar.active ul{
      opacity: 1;
  }
  .nav-bar ul li a{
      margin-bottom: 12px;

  }

}


/* main */

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #000;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/* footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
} */


/* thapa tacnical css file start */


/* CSS */
.btn-list {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "Urbanist", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 20px;
}

.btn-list:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn-list:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-list:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.active {
  background-color: #406dd5;
  color: #fcfcfd;
}

.card-filter {
  width: 80%;
  margin: auto;
}

.filters {
  /* margin-top: 8rem; */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.filters ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.filters-content {
  margin-top: 6rem;
}

.item {
  margin-left: 6rem;
  margin-bottom: 5rem;
  width: 20%;
}

.filters-content .grid {
  width: 100%;
  margin: 0 auto !important;
}



/* thapa tacnical css file end */


/* about section start */

* {
  font-family: Arial;
  margin: 0;
}
body {
  background: #f9fdf0;
  
}
.container{
    width: 1140px;
    height: 90vh;
    margin: auto;
}

.container > h1{
    font-size: 50px;
    font-weight: bold;
    color: #fe5f55;
    text-align: center;
    margin-top: 40px;
}

.box{
    width: 50%;
    float: left;
    margin-top: 45px;
}

.box h1{
    width: 475px;
    text-align: left;
    font-size: 40px;
    color: #fe5f55;
}

.box p{
    width: 475px;
    text-align: justify;
     margin-top: 18px;
     font-size: 18px;
}

button{
    font-size: 18px;
    margin-top: 25px;

    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 20px;
    cursor: pointer;
}
/* .picture-x{

    width: 10px;
    height: 10px;
    border-radius: 10px;

} */
.picture{
      float: right; 
     overflow: hidden;
}
.picture img{
  width: 75%;
  height: auto;
  border-radius: 10px;
}

/* about section end */

.footer {
  margin-top: 35px;
  position: relative;
  width: 100%;
  /* background: #3586ff; */
  background: rgb(44, 44, 44);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* .wave {
  position: absolute; */
  /* top: -100px; */
  /* left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
} */

/* .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
} */

/* .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
} */

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* <div class="hot-img">
    <img  src="${hotel.card_image}" alt="">
    <img  src="${hotel.image_1}" alt="">
    <img  src="${hotel.image_2}" alt="">
</div>
<div class="hot-info">
    <hi>${hotel.hotel_name}</hi>
    <h6>ornamentse</h6>
    <p class="w-50 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus error ratione unde cum provident aspernatur?</p>
    <h4>price : ${hotel.room_price} BDT</h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Booking
  </button>
</div> */


/* profile */
.ui-w-80 {
  width : 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background  : rgba(0, 0, 0, 0);
  color       : #4E5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26B4FF;
  background  : transparent;
  color       : #26B4FF;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}

.btn-facebook {
  border-color: rgba(0, 0, 0, 0);
  background  : #3B5998;
  color       : #fff;
}

.btn-instagram {
  border-color: rgba(0, 0, 0, 0);
  background  : #000;
  color       : #fff;
}

.card {
  background-clip: padding-box;
  box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position  : absolute;
  visibility: hidden;
  width     : 1px;
  height    : 1px;
  opacity   : 0;
}

.account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: transparent !important;
}

.account-settings-multiselect~.select2-container {
  width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

/* table sart */
/* *{

	margin: 0;

	padding: 0;

	font-family: arial;

	box-sizing: border-box;

} */

body{

	/* height: 100vh; */

	/* display: grid; */

	/* place-items: center; */

	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(image.jpg);

	/* background-size: 100% 100%; */

	/* background-repeat: no-repeat; */

}

table{

	width: 600px;

	box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);

}

table, td, th{

	padding: 20px;

	border: 1px solid lightgray;

	border-collapse: collapse;

	text-align: center;

	cursor: pointer;

}

td{

	font-size: 18px;

}

th{

	background-color: blue;

	color: white;

}

tr:nth-child(odd){

	background-color: lightblue;

}

tr:nth-child(odd):hover{

	background-color: dodgerblue;

	color: white;

	transform: scale(1.5);

	transition: transform 300ms ease-in;

}

tr:nth-child(even){

	background-color: #ededed;

}

tr:nth-child(even):hover{

	background-color: lightgray;

	transform: scale(1.5);

	transition: transform 300ms ease-in;


}



/* end table  */