*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Google Sans Regular";
  box-sizing: border-box;
}
.x{
  list-style: none;
  text-decoration: none;
}
body{
  background: #fefefe;
  
  /* background: #333; */
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 120vh;
}
header{
  width: 100%;
  height: 60px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 10px;
  padding-top: 40px;
}
.logo{
  font-size: 25px;
  font-weight: bold;
  color: #fefefe;
  padding-bottom: 15px;
}
.logo img{
width: 70px;
/* height: 55px; */
border-radius: 25px;
}
.logo a{
margin-left: 20px;
text-decoration: none;
color: rgb(253, 1, 1);
}
.hamburger{
  display: none;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li a{
  display: block;
  color: #fefefe;
  font-size: 18px;
  padding: 15px 15px;
  border-radius: 30px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover{
  color: #11101b;
  background: #fefefe;
}
.nav-bar ul li a.active{
  color: #11101b;
  background: #fefefe;
}
@media only screen and(max-width: 1100px){
  header{
      padding: 0 30px;
  }
  
}
@media only screen and (max-width: 900px){
  .hamburger{
      display: block;
      cursor: pointer;
  }
  .hamburger .line{
      width: 30px;
      height: 3px;
      background: #fefefe;
      margin: 6px 0;
  }

  .nav-bar{
      height: 0px;
      position: absolute;
      
      top: 80px;
      left: 0;
      right: 0;
      width: 100%;
      background: #11101b;
      transition: 0.2s;
      overflow: hidden;
  }
  .nav-bar.active{
      height: 550px;
  }
  .nav-bar ul{
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
  }
  .nav-bar.active ul{
      opacity: 1;
  }
  .nav-bar ul li a{
      margin-bottom: 12px;

  }

}


/* main */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f8ff;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
#search-containernew {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}
#search-inputnew {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-inputnew:focus {
  border-bottom-color: #6759ff;
}
#searchnew {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.button-value {
  border: 2px solid #6759ff;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #6759ff;
  cursor: pointer;
}
.active {
  background-color: #6759ff;
  color: #ffffff;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}
.card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
  text-align: center;
}
img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}


/* mainsetion end  */
/* footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
} */


/* thapa tacnical css file start */


/* CSS */
.btn-list {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "Urbanist", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 20px;
}

.btn-list:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn-list:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-list:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.active {
  background-color: #406dd5;
  color: #fcfcfd;
}

.card-filter {
  width: 80%;
  margin: auto;
}

.filters {
  /* margin-top: 8rem; */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.filters ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.filters-content {
  margin-top: 6rem;
}

.item {
  margin-left: 6rem;
  margin-bottom: 5rem;
  width: 20%;
}

.filters-content .grid {
  width: 100%;
  margin: 0 auto !important;
}



/* thapa tacnical css file end */


/* about section start */

* {
  font-family: Arial;
  margin: 0;
}
body {
  background: #f9fdf0;
  
}
.container{
    width: 1140px;
    height: 90vh;
    margin: auto;
}

.container > h1{
    font-size: 50px;
    font-weight: bold;
    color: #fe5f55;
    text-align: center;
    margin-top: 40px;
}

.box{
    width: 50%;
    float: left;
    margin-top: 45px;
}

.box h1{
    width: 475px;
    text-align: left;
    font-size: 40px;
    color: #fe5f55;
}

.box p{
    width: 475px;
    text-align: justify;
     margin-top: 18px;
     font-size: 18px;
}
#buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
button{
    font-size: 18px;
    margin-top: 25px;
 
    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 20px;
    cursor: pointer;
}
/* .picture-x{

    width: 10px;
    height: 10px;
    border-radius: 10px;

} */
.picture{
      float: right; 
     overflow: hidden;
}
.picture img{
  width: 75%;
  height: auto;
  border-radius: 10px;
}

/* about section end */

.footer {
  margin-top: 35px;
  position: relative;
  width: 100%;
  /* background: #3586ff; */
  background: rgb(44, 44, 44);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* .wave {
  position: absolute; */
  /* top: -100px; */
  /* left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
} */

/* .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
} */

/* .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
} */

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* <div class="hot-img">
    <img  src="${hotel.card_image}" alt="">
    <img  src="${hotel.image_1}" alt="">
    <img  src="${hotel.image_2}" alt="">
</div>
<div class="hot-info">
    <hi>${hotel.hotel_name}</hi>
    <h6>ornamentse</h6>
    <p class="w-50 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus error ratione unde cum provident aspernatur?</p>
    <h4>price : ${hotel.room_price} BDT</h4>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Booking
  </button>
</div> */


/* profile */
